name: Deploy
on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render deploy(api)
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK }}"

      - name: Trigger Render deploy (Dashboard)
        run: curl -fsSL -X POST "${{ secrets.RENDER_DEPLOY_HOOK_DASH }}"
